// REMOVE DEFAULT FONT
$body-font-family: 'Raleway';

//CONFIG SHADOW
$shadow-key-umbra-opacity: rgba(#000000, 0.05);
$shadow-key-penumbra-opacity: rgba(#000000, 0.05);
$shadow-key-ambient-opacity: rgba(#000000, 0.05);
